<!-- Mdal (NgModalBasicComponent) -->
<form (ngSubmit)="guardar()" [formGroup]="formCC">
  <div class="modal-header">
    <h5 class="modal-title">Modal title</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="activeModal.dismiss('Click dismiss: x')"
    ></button>
  </div>
  <div class="modal-body px-4">
    <div class="row mb-3">
      <div class="col-2">
        <label for="codigo" class="col-form-label">Código</label>
      </div>
      <div class="col-auto d-flex flex-column ">
        <input
          type="text"
          name="codigo"
          placeholder=""
          aria-describedby="helpCodigo"
          class="form-control bg-white"
          formControlName="codigo"maxlength="2" placeholder="00"
        />
        <div *ngIf="codigoNoValido">
          <small class="text-danger fst-italic"
          *ngIf="f.codigo?.errors.required">
            Ingrese el código
          </small>
          <small class="text-danger fst-italic"
          *ngIf="f.codigo?.errors.pattern">
            Debe ser número
          </small>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-2">
        <label for="nombre" class="col-form-label">Nombre</label>
      </div>
      <div class="col-10 d-flex flex-column">
        <input
          type="text"
          name="nombre"
          placeholder=""
          aria-describedby="helpNombre"
          class="form-control bg-white"
          formControlName="nombre"maxlength="100"
        />
        <small class="text-danger fst-italic" *ngIf="nombreNoValido">
          Ingrese el nombre
        </small>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="submit"
      class="btn btn-outline-dark"
      data-dismiss="modal"
    >
      Guardar
    </button>
  </div>

</form>

